body{
    margin-top: 30px;
    background-color: black;
    color: grey;
    font-family: 'Happy Monkey', cursive;
    text-align: center;
}

.main{
    margin-top: 10%;
}

.result-box{
    background-color: white;
    border-radius: 3px;
    width: 60%;
    margin: auto;
    text-align: left;
    padding: 5px 30px 5px 30px;
    color: black;
}

.all-results{
    display: none;
}

.title{
    font-family: 'Share Tech Mono', monospace;   
}

.random-article{
    font-family: 'Advent Pro', sans-serif;
    font-size: 1.5em;
}

.random-article a{
    color: grey;
    text-decoration: none;
}

.random-article a:visited{
    color: grey;
    text-decoration: none;
}

.random-article a:hover{
    color: white;
    text-decoration: none;
}

.search-box{
    width: 60%;
    margin: auto;
    text-align: right;
}

#search{
    font-size: 2.5em;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 100;
    border: none;
    outline: none;
    color: grey;
    padding: 3px;
    background: none;
    height: 50px;
    margin: auto;
    width:0%;
    border-radius: 0px;
    color: white;
}

#search-submit{
    border: none;
    cursor: pointer;
    background: none;
    color: grey;
    font-size: 2.5em;
    margin: auto;
}

#search-submit:hover {
    color: white;
}

.submit-box{
    background: none;
}

header{
	text-align: right;
	font-size: 0.8em;
	color: grey;
    margin: 20px;
    font-family: 'Share Tech Mono', monospace;
}

header a{
	color: grey;
}

header a:visited{
	color: grey;
}

header a:hover{
	color: white;
}